$text-color: #404040;
$text-green: #73B898;
$button-color: #30CA6F;
$white: #ffffff;
$black: #000000;
$grey: #464646;
$grey-light: #9F9F9F;

$border-color: #E9E9E9;
$main-bg: #F4F4F4;

$good-reaction: #478DF4;
$bad-reaction: #F55C67;
$acceptable-reaction: #F3C623;

$font: 'Lato', sans-serif;